/* Contact Page */

.contactPage{
    margin: 0 100px 0 100px;
}

.contactTitle{
    margin-top: 120px;
    font-size: 45px;
}

#book{
    margin-right: 15px;
    color: rgb(86, 115, 148);
}

.igLink, .fbLink{
    color: rgb(85, 85, 85);
    text-decoration: underline;
}

.phone, .email, .sm, .address{
    font-size: 25px;
}

.sm a{
    display: inline-block;
    margin-right: 15px;
    margin-left: 10px;
}

.contactPage section{
    display: block;
    margin-bottom: 100px;
    text-align: center;
}

.contactTitle{
    text-decoration: underline;
}